@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.abril-fatface {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

/* Scrollbar track */
::-webkit-scrollbar {
  width: 12px;
  background-color: #d7f0db; /* lighter greenish background */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #81c784; /* lighter green for the thumb */
  border-radius: 6px;
  border: 3px solid #c8e6c9; /* very light green border */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #66bb6a; /* slightly darker but still light green on hover */
}

/* Firefox */
element {
  scrollbar-color: #81c784 #d7f0db; /* lighter green thumb and track */
  scrollbar-width: thin;
}
