.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__input-container input {
  width: 100% !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background-color: #4ade80 !important; /* green-400 */
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: #86efac !important; /* green-300 */
}

/* Override today border color */
.react-datepicker__day--today {
  border: 1px solid #22c55e !important; /* green-500 */
}

/* Override keyboard-selected day */
.react-datepicker__day--keyboard-selected {
  background-color: #4ade80 !important; /* green-400 */
  color: white !important;
}
